<!DOCTYPE html>
{% load static %}
{% load rango_template_tags %}
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Rango -
                {% block title_block %}
                   How to Tango with Django!
                {% endblock %}
        </title>
    </head>
    <body>
    <!-- Page specific content goes here -->
    <div>
        {% block sidebar_block %}
            {% get_category_list category %}
        {% endblock %}
    </div>
         <div>
            {% block body_block %}
            {% endblock %}
            </div>
            <hr />
            <div>
                <ul>
                    <ul>
                        {% if user.is_authenticated %}
                            <!-- Show these links when the user is logged in -->
                            <li><a href="{% url 'rango:restricted' %}">Restricted Page</a></li>
                            <li><a href="{% url 'auth_logout' %}?next={% url 'rango:index' %}">Logout</a></li>
                        {% else %}
                            <!-- Show these links when the user is NOT logged in -->
                            <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                            <li><a href="{% url 'auth_login' %}">Login</a></li>
                        {% endif %}
                            <!-- Outside the conditional statements, ALWAYS show -->
                            <li><a href="{% url 'rango:add_category' %}">Add New Category</a></li>
                            <li><a href="{% url 'rango:about' %}">About</a></li>
                            <li><a href="{% url 'rango:index' %}">Index</a></li>
                        </ul>
            </div>

    </body>
</html>