   {% extends 'rango/base.html' %}
    {% load static %}
    
    {% block title_block %}
        {% if category %}
            {{ category.name }}
        {% else %}
            Unknown Category
        {% endif %}
    {% endblock %}
    {% block body_block %}
    <div class="container-fluid py-3">
        {% if category %}
        <div class="row bg-light rounded-3">
            <h1 class="display-5 fw-bold">{{ category.name }}</h1>
        </div>
        <div>
            <strong id="like_count">{{ category.likes }}</strong> likes
            {% if user.is_authenticated %}
            <button id="like_btn"
             data-categoryid="{{ category.id }}"
              class="btn btn-primary btn-sm"
              type="button">
            <span data-feather="thumbs-up"></span>
             Like Category
            </button>
            {% endif %}
           </div>


           {% if pages %}
           <ul>
            {% for page in pages %}
               <li>
                <a href="{% url 'rango:goto' %}?page_id={{ page.id }}">{{ page.title }}</a>
                 {% if page.views > 1 %}
               ({{ page.views }} views)
                 {% elif page.views == 1 %}
                  ({{ page.views }} view)
                 {% endif %}
            </li>
               {% endfor %}
           </ul>
           {% else %}
               <strong>No pages currently in category.</strong>
           {% endif %}

       <a href="{% url 'rango:add_page' category.slug %}">Add Page</a> <br />
        {% else %}
        The specified category does not exist.
        {% endif %}
        {% if user.is_authenticated %}
        <div class="row py-5">
            <form class="row g-3" id="user-form" method="post" action="{% url 'rango:show_category' category.slug %}">
                {% csrf_token %}
                <div class="col-auto">
                    <label class="visually-hidden">Search</label>
                    <input type="text" readonly class="form-control-plaintext" value="Enter your search terms">
                </div>
                <div class="col-auto">
                    <label class="visually-hidden">Search</label>
                    <input type="text" class="form-control" id="query" placeholder="{{ query }}" name="query">
                </div>
                <div class="col-auto">
                    <button type="submit" name="submit" class="btn btn-primary mb-3">Search</button>
                </div>
            </form>
        </div>
        <div class="row py-5">
            {% if result_list %}
            <h2>Results</h2>
            <div class="list-group">
                {% for result in result_list %}
                <div class="list-group-item">
                    <h3 class="list-group-item-heading">
                        <a href="{{ result.link }}">
                            {{ result.title|safe|escape }}
                        </a>
                    </h3>
                    <p class="list-group-item-text">
                        {{ result.snippet|safe|escape }}
                    </p>
                    <button class="btn btn-info btn-sm rango-page-add"
                    type="button"
                    data-categoryid="{{ category.id }}"
                    data-title="{{ result.title }}"
                    data-url="{{ result.link }}">
                    Add
                  </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endif %}

    {% endblock %}