   {% extends 'rango/base.html' %}
    {% load static %}
    
    {% block title_block %}
        {% if category %}
            {{ category.name }}
        {% else %}
            Unknown Category
        {% endif %}
    {% endblock %}
    {% block body_block %}
    <div class="container-fluid py-3">
        
        {% if category %}
        <div class="row bg-light rounded-3">
            <h1 class="display-5 fw-bold">{{ category.name }}</h1>
        </div>
        {% if pages %}
        <div class="row py-5">
        <ul class="nav flex-column">
            {% for page in pages %}
            <li class="nav-link"><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        </div>
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}

       <a href="{% url 'rango:add_page' category.slug %}">Add Page</a> <br />
        {% else %}
        The specified category does not exist.
        {% endif %}
    {% endblock %}