{% extends 'rango/base.html' %}
{% load static %}
{% block title_block %}
User Profiles
{% endblock %}
{% block body_block %}
<div class="container-fluid py-3">
    <div class="row bg-light rounded-3">
        <h1 class="display-5 fw-bold">User Profiles</h1>
    </div>
    <div class="row py-5">
        <div class="col-md-8 fs-4 py-3">
            {% if userprofile_list %}
            <div class="panel-body">
                <div class="list-group">
                    {% for list_user in userprofile_list %}
                    <div class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <a href="{% url 'rango:profile' list_user.user.username %}">
                                {{ list_user.user.username }}
                            </a>
                        </h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <p>There are no users present on Rango.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

