{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="container-fluid py-3">
	<div class="row bg-light rounded-3">
		<h1 class="display-5 fw-bold">Login to Rango</h1>

    </div>
    <div class="row py-5">
        <div class="col-md-6">
<form id="login_form" method="post" action="{% url 'rango:login' %}">
    {% csrf_token %}
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />
    <br />
    <input type="submit" value="submit" />
</form>
</div>
</div>
</div>
{% endblock %}