{% extends 'rango/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<div class="container-fluid py-3">
	<div class="row bg-light rounded-3">
		<h1 class="display-5 fw-bold">
Register for Rango</h1>
</div>
<div class="row py-5">
    <div class="col-md-6">
{% if registered %}
Rango says: <strong>thank you for registering!</strong>
<a href="{% url 'rango:index' %}">Return to the homepage.</a><br />
{% else %}
Rango says: <strong>register here!</strong><br />
<form id="user_form" method="post" action="{% url 'rango:register' %}"
      enctype="multipart/form-data">
    
    {% csrf_token %}
    
    <!-- Display each form  -->
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    
    <!-- Provide a button to click to submit the form. -->
    <input type="submit" name="submit" value="Register" />
</form>
</div>
</div>
</div>
{% endif %}
{% endblock %}
