{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="container-fluid py-3">
	<div class="row bg-light rounded-3">
		<h1 class="display-5 fw-bold">Change Password</h1>
    </div>
</div>
<div class="row py-5">
    <div class="col-md-8">
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Change password' %}" />
</form>
</div>
</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}